* {
    margin: 0 20vh;
}

body {
    background-image: url('indian flag.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

/* front view */
.splash {
    margin: 0 20vh;
    background: url("g20\ 1.png") no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    padding-top: 20em !important;
    padding-bottom: 30em !important;
    margin-bottom: 0em !important;
}

.splash h1 {
    font-size: 50px;
    font-weight: 400;
}

.splash p {
    font-size: 30px;
    font-weight: 400;
}



/* short info */
.short-info {
    margin: 0 20vh;
    padding: 10vh 30vh;
    background-color: beige;
}

.short-info p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}




.brand-name ,.navbar-light .navbar-brand{
    /* font-family: "Brush Script MT"; */
    /* margin-bottom: 3px; */
    font-family: "Lovely Home";
    font-size: 50px;
    font-weight: bold;
    color: #351458;
}



.headerachor {
  color: black;
  margin: 0 7px 0 7px;
  font-size: 25px;
}

.headerachor:hover {
  background-color: #f1f1f1;
}





/* Time line */

:root {
    --primary-color: #212121;
    --background-color: #36454f;
    --font: sans-serif;
 
}

* {
    margin: 0;
    padding: 0;
}

.timelinesection {
    margin: 0 20vh;
    background: var(--background-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
}

/* Timeline Container */
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
}




/* Card container */
.card {
    position: relative;
    max-width: 500px;
}

.e:hover {
    background-color: lightblue;
    font-size: 16.5px;
}

.card {
    position: relative;
    max-width: 500px;
}

p img {
    width: 100%;
    height: auto;
    border: 2px solid #00ff00;
    border-radius: 5vh;
    max-height: 400px;
}


.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}


.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid orangered;
}


.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}


.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}


.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}


.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}


.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}


.info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: gray;
    border-radius: 10px;
    padding: 10px;
}


.title {
    color: orangered;
    position: relative;
}


.title::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 999px;
    border: 5px solid orangered;

}


.card:nth-child(even)>.info>.title {
    text-align: right;
}


.card:nth-child(odd)>.info>.title::before {
    left: -45px;
}


.card:nth-child(even)>.info>.title::before {
    right: -45px;
}

.footerclass {
    margin: 3vh 20vh;
}

footer {
    background-color: antiquewhite;
    padding: 5vh;
}








/* footer section starts */
.footer{
    min-height: auto;
    padding-top: 0;
    background: rgb(0, 1, 43);
    margin: 1rem;
  }
  .footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .box-container .box{
    flex: 1 1 25rem;
    margin: 2rem;
  }
  .footer .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding-bottom: 1rem;
    font-weight: normal;
  }
  .footer .box-container .box p{
    font-size: 1.5rem;
    color: #ccc;
    padding: .7rem 0;
    text-transform: none;
  }
  .footer .box-container .box p i{
    padding-right: 1rem;
    color: #ffae00;
  }
  .footer .box-container .box a{
    font-size: 1.5rem;
    color: rgb(238, 238, 238);
    padding: .3rem 0;
    display: block;
  }
  .footer .box-container .box a:hover{
    color: #ffae00;
  }
  .footer .box-container .box .share{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
  .footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.7rem;
    margin-right: 1rem;
    transition: .2s;
    background: rgb(230, 230, 230);
    color: #02094b;
    border: none;
  }
  .footer .box-container .box .share a:hover{
    background: transparent;
    transform: scale(0.98);
    border: .1rem solid rgb(180, 178, 178);
    color: #ffae00;
  }
  .footer .credit{
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
    color: #fff;
    border-top: .1rem solid #fff3;
  }
  .footer .credit a{
    color: #ffae00;
  }
  .footer .fa{
      color: #E90606;
      margin: 0 .3rem;
      font-size: 1.5rem;
      animation: pound .35s infinite alternate;
  }
  @-webkit-keyframes pound{
    to{
      transform: scale(1.1);
    }
  }
  @keyframes pound{
    to{
      transform: scale(1.1);
  }
  }
  @media(max-width:450px){
    .footer .box-container .box{
      margin: 2rem;
    }
    .footer .box-container .box p{
      padding: 0.7rem;
    }
    .footer .box-container .box .share a{
      padding: 1.1rem;
    }
  }
  /* footer section ends */

